In [1]:
!git clone https://github.com/arbit3rr/Synapse-RL.git

Cloning into 'Synapse-RL'...

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
grid_df = pd.read_csv('./data/grid_data.csv')
grid_df.head()

,day,solar (MW),wind (MW),load (MW),solar_forcast (MW),wind_forecast (MW),load_forecast (MW),price (EUR/MWh),emission factor (kg CO2/MWh)
0,0,0.0,5393.0,11257.0,0.0,6053.0,10783.0,0.10,73.013522
1,0,0.0,5415.0,11279.0,0.0,6037.0,10713.0,0.10,73.013522
2,0,0.0,5405.0,11291.0,0.0,6023.0,10626.0,0.10,73.013522
3,0,0.0,5411.0,11266.0,0.0,6008.0,10527.0,0.10,73.013522
4,0,0.0,5441.0,11312.0,0.0,5993.0,10457.0,0.01,73.224798

In [10]:
grid_df[grid_df['day']==365]["emission factor (kg CO2/MWh)"].to_numpy().shape

(96,)